
* {
    box-sizing: border-box;
}

body {
    background:#FFFFFF;
    font-size:16px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.02em;
}

a {
    text-decoration:none;
    font-size:85%;
}

table {
    width:100%;
    margin:0 auto;
    border-radius:5px;
    border-spacing: 0;
    overflow:hidden;
}

tr {
    background-color: #ecf0f1;
}

th {
    background: #5c747c;
    color:#FFFFFF;
    padding:15px;
    text-align:left;
}

td {
    padding:11px;
}

#app {
    padding-top: 60px;
}

#todo-list {
    max-width:950px;
    background:#FFFFFF;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.2);
    border-radius:5px;
    margin:0 auto;
}

.table-title {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.table-header {
    font-size: 1.5em;
    color: #5c747c;
    margin: 0;
    padding: 0.5em 0;
}

.table-button {
    padding: 0.5em 1em;
    margin: 0.5em;
    border: none;
    border-radius: 5px;
    background-color: #f4941c;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.table-button:hover {
    background-color: #6f4314;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.table-button:active {
    transform: translateY(2px);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}
